* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Make appearance consistent with other content */
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

input[type="password"] {
    /* Montserrat's password dots are too small for my taste */
    font-family: serif;
}

.basic-form {
    display: flex;
    flex-direction: column;

    max-width: 500px;

    padding: 20px;

    font-family: 'Montserrat', sans-serif;
}

.basic-form * {
    line-height: 1.5;
}

.basic-form select,
.basic-form input {
    margin-bottom: 25px;
    outline: none;
    border: 1px solid #dddddd;
    border-radius: 5px;

    padding: 3px;

    background-color: #f9f9f9;
    transition: background-color 0.25s, border-color 0.25s, color 0.25s;

    font-weight: 300;
}

.basic-form input:focus:invalid {
    color: #d50000;
    background-color: #fff8f8;
    border-color: #d50000;
}

.basic-form button[type="submit"] {
    border: 1px solid #14b64a;
    border-radius: 5px;
    background-color: white;

    padding: 10px 15px;

    transition: all 0.25s ease-in-out;

    font-size: 1.2rem;

    cursor: pointer;
    /* Remove blue outline on mobile */
    outline: none;
}

.basic-form button[type="submit"]:hover {
    background-color: #14b64a;
    color: white;
}
