:root {
    --green: #14b64a;
    --red: #d50000;
    --light-red: #fff8f8;
    --light-grey: #f9f9f9;
    --border-light-grey: #dddddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Make appearance consistent with other content */
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

input[type="password"] {
    /* Montserrat's password dots are too small for my taste */
    font-family: serif;
}

.basic-form {
    display: flex;
    flex-direction: column;

    max-width: 500px;

    padding: 20px;

    font-family: 'Montserrat', sans-serif;
}

.basic-form * {
    line-height: 1.5;
}

.form-section {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.basic-form select,
.basic-form input {
    outline: none;
    border: 1px solid var(--border-light-grey);
    border-radius: 5px;

    padding: 3px;

    background-color: var(--light-grey);
    transition: background-color 0.25s, border-color 0.25s, color 0.25s;

    font-weight: 300;
}

.basic-form input:focus:invalid {
    color: var(--red);
    background-color: var(--light-red);
    border-color: var(--red);
}

.basic-form button[type="submit"] {
    border: 1px solid var(--green);
    border-radius: 5px;
    background-color: white;

    padding: 10px 15px;

    transition: all 0.25s ease-in-out;

    font-size: 1.2rem;

    cursor: pointer;
    /* Remove blue outline on mobile */
    outline: none;
}

.basic-form button[type="submit"]:hover {
    background-color: var(--green);
    color: white;
}

.error-msg {
    display: none;
    font-size: 0.9rem;

    color: var(--red);

    margin-top: 5px;
}

.active {
    display: block;
}
